/*reset padrão*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************************************************************************************************************/

/*estilizações gerais*/
body{
    background-color: #F6F6F6;
    font-family: "Montserrat", serif;
}

.container{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.w1-3{
    width: 33.3%;
}

.w100{
    width: 100%;
}
.w90{
    width: 90%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w10{
    width: 10%;
}
/********************************************************************************************************************************************/

/*estilização do menu*/
header{
    padding: 6px;
    background-color: #ebebeb;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.menu-items a{
    font-size: 11px;
    color: #737373;
    text-decoration: none;
}
.menu-items a:hover{
    color: #141212;
    font-size: 12px;
    font-weight: 600;
}

.menu-items span{
    color: #737373;
    font-weight: lighter;
}

.menu ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.logo a{
    font-size: 22px;
    font-weight: 600;
}
/********************************************************************************************************************************************/

/*estilização da seção banner-inicial*/
.banner-inicial{
    display: flex;
    background-color: #141212;
    height: 480px;
    overflow: hidden;
}

.conteudo-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-banner-text{
    text-align: center;
    width: 500px;
}
.conteudo-banner-text h1{
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 60px;
    color: #ebebeb;
    padding-bottom: 10px;
}
.conteudo-banner-text h3{
    display: inline-block;
    width: 350px;
    font-size: 18px;
    color: #ebebeb;
    background-color: #737373;
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.conteudo-banner-text p{
    color: #ebebeb;
    font-size: 22px;
}
.conteudo-banner-text span{
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #5271ff;
    margin-bottom: 5px;
}

.conteudo-banner-botoes{
    margin: 10px;
    align-items: center;
}
.botao-verde-branco{
    color: #ebebeb;
    font-weight: 800;
    font-size: 14px;
    font-family: "Montserrat", serif;
    background-color: #5ec57e;
    padding: 20px;
    border-radius: 30px;
    border: none;
}
.botao-azul-branco{
    color: #ebebeb;
    font-weight: 800;
    font-size: 14px;
    font-family: "Montserrat", serif;
    background-color: #5271ff;
    padding: 20px;
    margin-right: 5px;
    border-radius: 30px;
    border: none;
}
/********************************************************************************************************************************************/

/*estilização da seção: Marcas Atendias*/

.marcas-atendidas{
    background-color: #F6F6F6;
    text-align: center;
    margin-bottom: 30px;
    padding: 90px 0 90px 0;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.marcas-atendidas h2{
    font-size: 32px;
    font-weight: 800;
    color: #5271ff;
}

.marcas-atendidas img{
    max-width: 200px;
    max-height: 200px;
}

.marcas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#logo-motorola{
    max-width: 160px;
    max-height: 160px;
}
#logo-lg{
    max-width: 125px;
    max-height: 125px;
}

/********************************************************************************************************************************************/

/*espaço-vazio*/

.espaco-vazio{
    height: 400px;
    background-color: #f6f6f6;
}

/********************************************************************************************************************************************/

/*estilizando seção: nossos serviços*/

.nossos-servicos{
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #141212;
}

.nossos-servicos h2{
    font-size: 32px;
    font-weight: 800;
    color: #5271ff;
    text-align: center;
    position: relative;
    top: -380px;
}

.servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: -280px;
    gap: 30px;
    margin-top: 30px;
}

.servicos-individual{
    background-color: #737373;
    border-radius: 480px 480px 500px 500px;
    padding-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.servicos-individual h3{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #EBEBEB;
    width: 350px;
    padding: 20px 10px 20px 10px;
}
.servicos-individual img{
    border-radius: 300px;
    width: 350px;
    height: 300px;
}

.servicos-cta{
    width: 30%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    top: -180px;
}

.servicos-cta-conteudo{
    color: #EBEBEB;
    text-align: center;
}
.servicos-cta-conteudo p{
    font-size: 12px;
    font-weight: 600;
    color: #5ec57e;
}
.servicos-cta-conteudo h4{
    font-size: 28px;
}
.servicos-cta-conteudo button{
    margin-top: 10px;
    font-size: 22px;
}

/********************************************************************************************************************************************/

/*estilizando seção: nossas unidades*/

.nossas-unidades h2{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #5271ff;
    padding-top: 30px;
    margin-bottom: 60px;
}

.unidades{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.unidades-individual-fundo{
    background-color: #737373;
    margin-bottom: 60px;
    border-radius: 30px;

}

.unidades-individual-img-bg-morumbi{
    display: flex;
    justify-content: center;
    background-image: url(img/morumbi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    position: relative;
}
.unidades-individual-img-bg-parque{
    display: flex;
    justify-content: center;
    background-image: url(img/parque-da-cidade.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    position: relative;
}
.unidades-individual-img-bg-nacoes{
    display: flex;
    justify-content: center;
    background-image: url(img/nacoes-unidas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 30px;
}

.unidades-individual-conteudo h4{
    display: inline-block;
}
.unidades-individual-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#EBEBEB ;
    font-size: 22px;
}


.botao-preto-branco{
    border: 2px solid #EBEBEB;
    background-color: rgba(0, 0, 0, 0.8);
    color: #EBEBEB;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    margin-top: 10px;
}

.botao-preto-branco i{
    display: block;
    font-size: 12px;
}

.nossas-unidades h3{
    display: inline;
    font-size: 24px;
    color: #5ec57e;
}

.nossas-unidades-conteudo-text i,span{
    color: #5ec57e;
    font-size: 24px;
}

.nossas-unidades-conteudo-text p{
    position: relative;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
.nossas-unidades-conteudo-text::after{
    content: '';
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background-color: #141212;
}

.nossas-unidades-conteudo{
    display: flex;
    text-align: left;
    margin-bottom: 60px;
}

/********************************************************************************************************************************************/

/*estilização da seção: perguntas frequentes*/

.perguntas-frequentes{
    width: 95%;
    margin: 0 auto;
    background-color: #737373;
    border-radius: 30px;
    margin-bottom: 60px;
    padding: 30px;
}

.perguntas-frequentes h2{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #EBEBEB;
    padding-bottom: 30px;
}

.perguntas-individual{
    background-color: #141212;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    text-align: center;

}
.perguntas-individual h3{
    color: #EBEBEB;
    font-weight:normal;
    font-size: 16px;
}

.respostas{
    padding: 10px;
}

.respostas p{
    color: #EBEBEB;
    font-size: 14px;
    font-weight: lighter;
}
.respostas span{
    color: #5271ff;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

/********************************************************************************************************************************************/

/*estilização da seção: avalicações*/

.avaliacoes-de-usuarios{
    background-color: #5271ff;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    padding: 30px;
}

.avaliacoes-de-usuarios h2{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #EBEBEB;
}

.avaliacoes-apresentacao{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.avaliacoes-nota{
    margin-right: 30px;
}

.avaliacoes-nota h1{
    font-size: 120px;
    color: #EBEBEB;
    font-weight: lighter;
}

.avaliacoes-nota p{
    color: #EBEBEB;
    font-weight: lighter;
    margin-top: 5px;
}

.avaliacoes-estrelas-icon{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 30px;
    width: 250px;
    margin: 0 auto;
}
.avaliacoes-estrelas-icon i{
    color: #ECC440;
    font-size: 30px;
}

.avaliacoes-video-descricao{
    text-align: center;
    color: #EBEBEB;
    background-color: #141212;
    width: 99%;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.avaliacoes-video-descricao h4{
    font-weight: normal;
}

.avaliacoes-video-descricao h5{
    font-weight: lighter;
    color: #5ec57e;
}

.avaliacoes-video{
    margin-right: 30px;
    padding: 20px 0 0 0;
    text-align: left;
}

.avaliacoes-motivacoes{
    text-align: left;
}

.avaliacoes{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 30px;
}

.avaliacoes-individual{
    background-color: #EBEBEB;
    border-radius: 30px;
    width: 250px;
}

.avaliacoes-individual-comentario{
    border-bottom: 1px solid #737373;
    font-size: 14px;
    font-weight: normal;
    padding: 20px;
}

.avaliacoes-individual-perfil{
    background-color: #141212;
    padding: 10px;
    border-radius: 30px 30px 0 0;
}

.avaliacoes-individual-perfil h4{
    color: #EBEBEB;
}

.avaliacoes-individual-perfil i{
    color: #ECC440;
}

.avaliacoes-individual-google-icone i{
    color: red;
    padding: 10px;
}