/*reset padrão*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************************************************************************************************************/

/*estilizações gerais*/
body{
    background-color: #F6F6F6;
    font-family: "Montserrat", serif;
}

.container{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
/********************************************************************************************************************************************/

/*estilização do menu*/
header{
    padding: 6px;
    background-color: #ebebeb;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.menu-items a{
    font-size: 13px;
    color: #737373;
    text-decoration: none;
}
.menu-items a:hover{
    color: #141212;
    font-size: 12px;
    font-weight: 600;
}

.menu-items span{
    color: #737373;
    font-weight: lighter;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.logo a{
    font-size: 22px;
    font-weight: 600;
}
/********************************************************************************************************************************************/

/*estilização da seção banner-inicial*/
.banner-inicial{
    display: flex;
    background-color: #141212;
    height: 480px;
    overflow: hidden;
}

.conteudo-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-banner-text{
    text-align: center;
    width: 500px;
}
.conteudo-banner-text h1{
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 60px;
    color: #ebebeb;
    padding-bottom: 10px;
}
.conteudo-banner-text h3{
    display: inline-block;
    width: 350px;
    font-size: 18px;
    color: #ebebeb;
    background-color: #737373;
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.conteudo-banner-text p{
    color: #ebebeb;
    font-size: 22px;
}
.conteudo-banner-text span{
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #5271ff;
    margin-bottom: 5px;
}

.conteudo-banner-botoes{
    margin: 10px;
    align-items: center;
}
.botao-verde-branco{
    color: #ebebeb;
    font-weight: 800;
    font-size: 14px;
    font-family: "Montserrat", serif;
    background-color: #5ec57e;
    padding: 20px;
    border-radius: 30px;
    border: none;
}
.botao-azul-branco{
    color: #ebebeb;
    font-weight: 800;
    font-size: 14px;
    font-family: "Montserrat", serif;
    background-color: #5271ff;
    padding: 20px;
    margin-right: 5px;
    border-radius: 30px;
    border: none;
}
/********************************************************************************************************************************************/

/*estilização da seção: Marcas Atendias*/

.marcas-atendidas{
    background-color: #F6F6F6;
    text-align: center;
    margin-bottom: 30px;
    padding: 90px 0 90px 0;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.marcas-atendidas h2{
    font-size: 32px;
    font-weight: 800;
    color: #5271ff;
}

.marcas-atendidas img{
    max-width: 200px;
    max-height: 200px;
}

.marcas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#logo-motorola{
    max-width: 160px;
    max-height: 160px;
}
#logo-lg{
    max-width: 125px;
    max-height: 125px;
}

/********************************************************************************************************************************************/

/*espaço-vazio*/

.espaco-vazio{
    height: 400px;
    background-color: #f6f6f6;
}

/********************************************************************************************************************************************/

/*estilizando seção: nossos serviços*/

.nossos-servicos{
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #141212;
}

.nossos-servicos h2{
    font-size: 32px;
    font-weight: 800;
    color: #5271ff;
    text-align: center;
    position: relative;
    top: -380px;
}

.servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: -330px;
    gap: 30px;
    margin-top: 30px;
}

.servicos-individual{
    background-color: #737373;
    border-radius: 480px 480px 500px 500px;
    padding-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.servicos-individual h3{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #EBEBEB;
    width: 350px;
    padding: 20px 10px 20px 10px;
}
.servicos-individual img{
    border-radius: 300px;
    width: 350px;
    height: 300px;
}

.servicos-cta{
    color: #EBEBEB;
    text-align: center;
}

/********************************************************************************************************************************************/

/*estilizando seção: nossas unidades*/

.nossas-unidades h2{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #5271ff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.unidades{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.unidades-individual-fundo{
    background-color: #737373;
    margin-bottom: 100px;

}

.unidades-individual-img-bg-morumbi{
    display: flex;
    justify-content: center;
    background-image: url(img/morumbi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    position: relative;
}
.unidades-individual-img-bg-parque{
    display: flex;
    justify-content: center;
    background-image: url(img/parque-da-cidade.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    position: relative;
}
.unidades-individual-img-bg-nacoes{
    display: flex;
    justify-content: center;
    background-image: url(img/nacoes-unidas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.unidades-individual-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#EBEBEB ;
    font-size: 22px;
}